<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finesse</title>

    <style>
        body {
            display: flex;
            justify-content: center;
        }

        #app {
            background: #fff;
            border-radius: 4px;
            transition: all 0.2s;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 15px;
        }

        input[type=number] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
            min-width: 100%;
            max-width: 100%;
        }
    </style>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="p-6 bg-yellow-800">
    <div id="app" class="w-full max-w-lg flex-1 p-6">

        <header class="flex justify-center pb-6 text-yellow-800 text-5xl italic" style="font-family: cursive">
          Finesse
        </header>


        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-bba">
                    Base attack
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-bba" type="number" v-model.number="bba" min="0" placeholder="0">
            </div>
        </div>
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-finesse">
                    Finesse
                </label>
            </div>
            <div class="md:w-2/3 relative">
                <select id="inline-finesse"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-900 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
                    v-model.number="finesse">
                    <option value="none">None</option>
                    <option value="finesseAttack">Dexterity to Attack</option>
                    <option value="finesseDamage">Dexterity to Damage</option>
                    <option value="finesseBoth">Dexterity to Attack and Damage</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                    <svg aria-hidden="true" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="md:flex md:items-center mb-6" v-if="finesse != 'finesseBoth'">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-strength">
                    Strength
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-strength" type="number" v-model.number="strength" min="3" placeholder="10">
            </div>
        </div>
        <div class="md:flex md:items-center mb-6" v-if="finesse != 'none'">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-dexterity">
                    Dexterity
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-dexterity" type="number" v-model.number="dexterity" min="3" placeholder="10">
            </div>
        </div>
        <div class="md:flex md:items-center mb-6" v-if="bba > 0">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4"
                    for="inline-power-attack-penalty">
                    Piranha Strike
                </label>
            </div>
            <div class="md:w-2/3 relative">
                <select id="inline-power-attack-penalty"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-900 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
                    v-model.number="powerAttackPenalty">
                    <option v-for="(item, index) in bbaThresholds.filter(t => t <= bba)" v-bind:value="-index">{{-(index)}} (+{{(index) * 2}})</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                    <svg aria-hidden="true" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
      
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-handle">
                    Style
                </label>
            </div>
            <div class="md:w-2/3 relative">
                <select id="inline-handle"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-900 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
                    v-model="handle">
                    <option value="1">Main Weapon</option>
                    <option value="0.5">Off Weapon</option>
                    <option value="2">Two Weapons Fighting</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                    <svg aria-hidden="true" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="md:flex md:items-center mb-6" v-if="handle == 2">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-double-slice">
                    Double Slice Feat
                </label>
            </div>
            <div class="md:w-2/3 relative">
                <select id="inline-double-slice"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-900 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
                    v-model="hasDoubleSlice">
                    <option value="false">No Double Slice Feat</option>
                    <option value="true">Has Double Slice Feat</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                    <svg aria-hidden="true" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>

 <!-- https://rpg.stackexchange.com/questions/60243/if-a-character-has-the-twf-feat-from-3-5-and-the-ambidexterity-feat-from-3-0-do -->
        <div class="md:flex md:items-center mb-6" v-if="handle == 2">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-ambidexterity">
                    Ambidexterity Feat
                </label>
            </div>
            <div class="md:w-2/3 relative">
                <select id="inline-ambidexterity"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-900 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
                    v-model="isAmbidexterous">
                    <option value="false">No Ambidexterity</option>
                    <option value="true">Is Ambidexterous</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                    <svg aria-hidden="true" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>

      <!-- https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Actions%20sp%c3%a9ciales.ashx#COMBAT2ARMES -->
        <div class="md:flex md:items-center mb-6" v-if="handle == 2">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-malus">
                    Malus
                </label>
            </div>
            <div class="md:w-2/3 relative">
                <select id="inline-malus"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-900 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
                    v-model="malus">
                    <option value="-6,-10">Normal penalties (-6, -10)</option>
                    <option value="-4,-8">Off-hand weapon is light (-4, -8)</option>
                    <option value="-4,-4">TWF feat (–4, –4)</option>
                    <option value="-2,-2">Off-hand weapon is light and TWF feat (-2, -2)</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                    <svg aria-hidden="true" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
      
        <div class="md:flex md:items-center mb-6" v-if="handle != 0.5">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-main-attack">
                    Main Attack
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-main-attack" type="number" v-model.number="mainAttack" placeholder="0">
            </div>
        </div>

        <div class="md:flex md:items-center mb-6" v-if="handle != 0.5">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-main-damage">
                    Main Damage
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-main-damage" type="number" v-model.number="mainDamage" placeholder="0">
            </div>
        </div>

        <div class="md:flex md:items-center mb-6" v-if="handle != 1">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-off-attack">
                    Off Attack
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-off-attack" type="number" v-model.number="offAttack" placeholder="0">
            </div>
        </div>

        <div class="md:flex md:items-center mb-6" v-if="handle != 1">
            <div class="md:w-1/3">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-off-damage">
                    Off Damage
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500 hover:border-gray-900"
                    id="inline-off-damage" type="number" v-model.number="offDamage" placeholder="0">
            </div>
        </div>

        <div class="md:flex md:items-center" v-bind:class="{ 'mb-6': handle == 2 }" v-if="handle != 0.5">
            <div class="md:w-1/3">
                <label for="inline-main-attack" class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Main Attack
                </label>
            </div>
            <div class="md:w-2/3">
                <div class="md:flex md:items-center">
                    <div class="md:w-1/3">
                        <input aria-live="polite" id="inline-main-attack" type="number" v-model.number="getMainAttack()" readonly="" class="bg-yellow-700 text-white font-bold py-2 px-4 rounded"/>
                    </div>
                    <div class="md:w-1/3">
                        <label for="inline-main-damage" class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4">
                            Damage
                        </label>
                    </div>
                    <div class="md:w-1/3">
                        <input aria-live="polite" id="inline-main-damage" type="number" v-model.number="getMainDamage()" readonly="" class="bg-yellow-700 text-white font-bold py-2 px-4 rounded"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="md:flex md:items-center" v-if="handle != 1">
            <div class="md:w-1/3">
                <label for="inline-off-attack" class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Off Attack
                </label>
            </div>
            <div class="md:w-2/3">
                <div class="md:flex md:items-center">
                    <div class="md:w-1/3">
                        <input aria-live="polite" id="inline-off-attack" type="number" v-model.number="getOffAttack()" readonly="" class="bg-yellow-700 text-white font-bold py-2 px-4 rounded"/>
                    </div>
                    <div class="md:w-1/3">
                        <label for="inline-off-damage" class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4">
                            Damage
                        </label>
                    </div>
                    <div class="md:w-1/3">
                        <input aria-live="polite" id="inline-off-damage" type="number" v-model.number="getOffDamage()" readonly="" class="bg-yellow-700 text-white font-bold py-2 px-4 rounded"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        // Note du dev:
        // * Tester le tout (valeur négatives, etc)
        // * Traduire l'app en fr

        function loadQueryString() {
            const data = {
                strength: 10,
                dexterity: 10,
                mainDamage: 0,
                mainAttack: 0,
                offDamage: 0,
                offAttack: 0,
                powerAttackPenalty: 0,
                finesse: "none",
                bba: 0,
                handle: 1,
                malus: "-10,-6",
                hasDoubleSlice: "false",
                isAmbidexterous: "false"
            }
            const search = window.location.search;
            if (!search)
                return data

            if (search.toLowerCase().includes("ombredane"))
                return {
                    ...data,
                    mainAttack: 1,
                    offAttack: 1,
                    strength: 14,
                    dexterity: 16,
                    powerAttackPenalty: -2,
                    rageBonus: 4,
                    finesse: "finesseAttack",
                    bba: 5,
                    handle: 2,
                    malus: "-2,-2",
                    hasDoubleSlice: "true",
                    isAmbidexterous: "true"
                }

            const parameters = [...(new URLSearchParams(search)).entries()];
            if (parameters.length == 0)
                return data

            const validParameters =
                parameters
                .filter(([key, value]) => !!key && !!value && parseFloat(value).toString() === value)
            if (validParameters.length == 0)
                return data

            const results =
                Object.fromEntries(
                    validParameters.map(([key, value]) => [key, parseFloat(value)]));

            for (const key of Object.keys(data).filter(key => results[key] != undefined)) {
                data[key] = results[key]
            }

            return data
        }

        new Vue({
            el: "#app",
            data: {
                ...loadQueryString(),
                bbaThresholds: [0, 1, 4, 8, 12, 16, 20]
            },
            methods: {
                getMod: function (ability) {
                    return Math.floor((ability - 10) / 2)
                },
                getMainAttack: function () {
                    const hasFinesseAttack = this.finesse === "finesseAttack" || this.finesse === "finesseBoth"
                    const mod = this.getMod(+(hasFinesseAttack ? this.dexterity : this.strength))
                    const malus =  this.handle === 2 ? +(this.malus.split(',')[0]) + (this.isAmbidexterous ? 2 : 0) : 0
                    return mod + this.bba + this.powerAttackPenalty + (+this.mainAttack ?? 0) + malus
                },
                getMainDamage: function () {
                    const hasFinesseDamage = this.finesse === "finesseDamage" || this.finesse === "finesseBoth"
                    const mod = this.getMod(+(hasFinesseDamage ? this.dexterity : this.strength))
                    const powerAttackBonus = -2 * this.powerAttackPenalty
                    return mod + powerAttackBonus + this.mainDamage
                },
                getOffAttack: function () {
                    const hasFinesseAttack = this.finesse === "finesseAttack" || this.finesse === "finesseBoth"
                    const mod = this.getMod(+(hasFinesseAttack ? this.dexterity : this.strength))
                    const malus = this.handle === 2 ? +(this.malus.split(',')[1]) + (this.isAmbidexterous ? 2 : 0) : 0
                    return mod + this.bba + this.powerAttackPenalty + (this.offAttack ?? 0) + malus
                },
                getOffDamage: function () {
                    const hasFinesseDamage = this.finesse === "finesseDamage" || this.finesse === "finesseBoth"
                    const mod = this.getMod(+(hasFinesseDamage ? this.dexterity : this.strength))
                    const modBonus = this.hasDoubleSlice === "true" ? mod : Math.floor(mod / 2)
                    const powerAttackBonus = -(this.hasDoubleSlice === "true" ? 2 : 1) * this.powerAttackPenalty
                    return modBonus + powerAttackBonus + this.offDamage
                }
            }
        })
    </script>
</body>

</html>
